* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: linear-gradient(to right, #434343 0%, black 100%);
}
h1 {
  font-family: sans-serif;
  font-weight: 800;
  margin: 15px 0;
}
.container {
  display: flex;
}
.container .section {
  width: 350px;
  margin: 20px 50px;
}
.section .info {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
}
.info span,
.info h3 {
  font-size: 25px;
  font-weight: bold;
  margin: 0px 10px;
  font-family: sans-serif;
  color: white;
}
.show {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 220px;
}
.show i {
  font-size: 100px;
  color: orange;
}
h2 {
  font-family: sans-serif;
  font-weight: bold;
  padding: 5px;
}
.selection {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 350px;
  height: 100px;
  margin: 2em;
}
.selection button {
  padding: 4em;
  margin: 2em;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.selection button:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-button-85 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.selection button:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #222;
  left: 0;
  top: 0;
  border-radius: 10px;
}
